/* Global styles
-----------------------*/
body {
	
}
a{
	color: #00EEEE;
}
a:hover{
	text-decoration: none;
}
/* Header and Footer
-----------------------*/
header, footer {
	background: #CD6600;
}
header h1	{
	color: #D02090;
}

/* Work Experience
-----------------------*/
.work{
	background: #C1CDCD;
}
/* Education 
-----------------------*/
.education{
	background: #FF8C00;
}
/* Footer
__________________________________*/
.footer{
	background: #696969;
}